@font-face {
  font-family: 'ringbearermedium';
  src: url('../fonts/ringm___-webfont.woff2') format('woff2'),
       url('../fonts/ringm___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'firstorder';
  src: url('../fonts/FirstOrder.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tengwar Cursive';
  src: url('../fonts/TengwarCursive.woff2') format('woff2'),
       url('../fonts/TengwarCursive.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ringbearermedium';
  background-color: #7D4D5B
}

.nav-brand {
  font-family: 'firstorder';
  font-size: 4rem;
  color: #fff !important;
}

.fancy-text {
  position: relative;
  display: inline;
  font-family: 'Tengwar Cursive';
  font-size: 9rem;
  color: #fff;
}

.fancy-subtext {
  position: relative;
  display: inline;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  top: -50px;
}

.portrait-border {
  width: 100px;
  background-color: #A87981;
  border-radius: 5px;
}

.portrait {
  background-size: cover;
  background-position: center;
  border: 5px solid #A87981;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #F3E4DC;
  -webkit-box-shadow: 9px 9px 18px -8px rgba(0,0,0,0.75);
     -moz-box-shadow: 9px 9px 18px -8px rgba(0,0,0,0.75);
          box-shadow: 9px 9px 18px -8px rgba(0,0,0,0.75);
}

.gameCol {
  padding: 0px;
  margin: 20px 30px;
}

.score {
  font-size: 3rem;
  color: white;
}

.correct-guess {
  color: green;
  animation: transitionToWhite 500ms;
  animation-fill-mode: forwards;
}

.incorrect-guess {
  color: red;
  animation: transitionToWhite 500ms;
  animation-fill-mode: forwards;
}

@keyframes transitionToWhite {
  to { color: white }
}
